.cell {
  cursor: pointer;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bdbdbd;
  border: 1px solid white;
}

.revealed {
    background: #b2dab2;
    border: 1px solid white;
  }