.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 250px;
  color: rgb(63, 63, 63);
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #afc3d6;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

.rating {
  font-size: 14px;
  margin-right: 5px;
  color: #d35b36;
}
