.span {
  border: 1px solid #cfcfcf;
  width: 60px;
  border-radius: 3px;
  padding: 3px;
  background-color: #f5f5f5;
}

.gameStatus {
  margin: 1px;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
