body {
  margin: 0;
  background-color: #282c34;

  color: white;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
