.box {
  margin-top: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paper {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}
